body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(249, 247, 243);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
#blogButton{
width: 110px;
height: 49px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 32px 12px 32px;
flex: none;
margin: 0px 39px;
border-radius: 8px;
background: rgb(180, 244, 97);
}
#accountBalance{
    color: black;
}
.logo {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
    color: black;
}
.donatee{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32;
    flex: none;
    flex-grow: 1;
    margin: 0px 10px;
    }
    .balance-container {
        display: flex;
        align-items: center;
        color: white;
    }
    .sticky-container {
        position: sticky;
        top: 70px; 
        background-color: white;
        z-index: 998;
        padding: 10px 0;
    }
    .button-container {
        text-align: center;
    }
    .button-container button {
        margin: 0 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: white;
        color:#4CAF50;
        ;
        transition: background-color 0.3s, color 0.3s;
    }
    .button-container button:hover {
        background-color: rgb(180, 244, 97);
        color: black;
    }
    .button-container button.active {
        background-color: rgb(180, 244, 97);
        color: black;
    }
    .donation-card {
        display: flex;
        margin: 20px;
        border: 1px solid #ccc;
        padding: 150px;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        width: 540;
        height: 403; 
    }
    .w3-round {
        
        margin-right: 20px; 
        position: static;
        width: 300px;
        height: 289px;
    }
    .card-info {
        flex: 1;
    }
    .donate-button {
    position: static;
    width: 222px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 16px 32px 16px 32px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    border-radius: 8px;
    background: rgb(180, 244, 97);
    }
    input{
    position: static;
    width: 522px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10;
    padding: 18px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    }
    .coin{
    position: static;
    width: 110px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8;
    padding: 10px 16px 10px 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    border-radius: 8px;
    background: rgba(17, 17, 17, 0.05);
    }
    .hidden {
        display: none;
    }
    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 2000;
    }